</div>
<nav class="navbar navbar-inverse" id="footer" style="margin: 50px 0 0 0;">
  <div class="container-fluid">
    <ul class="nav navbar-nav center">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Privacy</a></li>
      <li><a href="/employee_login">Employees</a></li>
    </ul>
  </div>
</nav>
</body>
</html>

