include ./header

<div id="body">

<h2>Поръчката ви е успешно създадена</h2>
  <div class="vertical-menu">
    <a href="/users/cart">Количка</a>
    <a href="/users/orders" class="active">Поръчки</a>
    <a href="/users/account">Настройки</a>
    <a href="/users/details">Детайли</a>
  </div>

  <div class="account-info">
    <hr>
    <p stlye="font-size:15px;">
if userMessage
  <h4>#{userMessage}</h4>
</div>
</div>

include ./footer